---
layout: default
---

<section class="post">
<style>
.auto { width: 320px; height: 50px; }
@media(min-width: 500px) { .auto { width: 468px; height: 60px; } }
@media(min-width: 800px) { .auto { width: 728px; height: 90px; } }
</style>
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- auto -->
<ins class="adsbygoogle auto"
     style="display:inline-block"
     data-ad-client="ca-pub-2114981950953725"
     data-ad-slot="9842845185"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{ content }}
</section>
{% if page.comments %}
{% include comments.md %}
{% endif %}

